---
import Icon from "@components/ui/icons/Icon.astro";
// Define props from Astro
const { id, collapseId, question, answer, table, first } = Astro.props;
// Define TypeScript interface for props
interface Props {
  id: string;
  collapseId: string;
  question: string;
  answer: string;
  table: boolean;
  first?: boolean;
}
// Define class names for the accordion and its content
const ACCORDION_CLASS_DEFAULT = "hs-accordion pb-3 active";
const ACCORDION_CLASS_COLLAPSED = "hs-accordion pt-6 pb-3";
const ACCORDION_CONTENT_CLASS =
  "hs-accordion-content w-full overflow-hidden transition-[height] duration-300";
// Helper function to return the correct class for the accordion
function getAccordionClass(first: boolean = false) {
  return first ? ACCORDION_CLASS_DEFAULT : ACCORDION_CLASS_COLLAPSED;
}
---

<!-- The main container for the accordion item -->
<div class={getAccordionClass(first)} id={id}>
  <!-- The accordion button, which toggles the expanded/collapsed state -->
  <button
    class="hs-accordion-toggle group inline-flex w-full items-center justify-between gap-x-3 text-balance rounded-lg pb-3 text-start font-bold text-neutral-800 outline-none ring-zinc-500 transition hover:text-neutral-500 focus-visible:ring dark:text-neutral-200 dark:ring-zinc-200 dark:hover:text-neutral-400 dark:focus:outline-none md:text-lg"
    aria-controls={collapseId}
  >
    {question}
    <!-- SVG Icon that is shown when the accordion is NOT active -->
    <Icon name="accordionNotActive" />

    <!-- SVG Icon that is shown when the accordion is active -->
    <Icon name="accordionActive" />
  </button>
  <!-- The collapsible content of the accordion -->
  <div
    aria-labelledby={id}
    class={`${first ? ACCORDION_CONTENT_CLASS : "hidden " + ACCORDION_CONTENT_CLASS}`}
    id={collapseId}
  >
    <!-- The content paragraph -->
    {
      table ?
        (
        <div class="mt-6 space-y-6 md:ml-auto md:mt-0">
          <div class="flex flex-col">
            <div class="-m-1.5 overflow-x-auto">
              <div class="inline-block min-w-full p-1.5 align-middle">
                <div class="overflow-hidden">
                  <table class="min-w-full divide-y divide-neutral-300 dark:divide-neutral-700">
                    <thead>
                      <tr>
                        <th
                          scope="col"
                          class="px-6 py-3 text-start text-xs font-medium uppercase text-neutral-500 dark:text-neutral-500"
                        >
                          NOMBRE PRODUCTO
                        </th>
                        <th
                          scope="col"
                          class="px-6 py-3 text-start text-xs font-medium uppercase text-neutral-500 dark:text-neutral-500"
                        >
                          ALTURA
                        </th>
                        <th
                          scope="col"
                          class="px-6 py-3 text-start text-xs font-medium uppercase text-neutral-500 dark:text-neutral-500"
                        >
                          LARGO
                        </th>
                      </tr>
                    </thead>
                    <tbody class="divide-y divide-neutral-300 dark:divide-neutral-700">
                      <tr>
                        <td class="whitespace-nowrap px-6 py-4 text-sm font-medium text-neutral-600 dark:text-neutral-400">
                          BARRERA NEW JERSEY DOBLE TIPO F
                        </td>
                        <td>
                          81 CM
                        </td>
                        <td>
                          2,0 - 2,5 - 3,0 MTS
                        </td>
                      </tr>

                      <tr>
                        <td class="whitespace-nowrap px-6 py-4 text-sm font-medium text-neutral-600 dark:text-neutral-400">
                          BARRERA NEW JERSEY DOBLE TIPO F
                        </td>
                        <td>
                          1,07 MTS
                        </td>
                        <td>
                          3,0 MTS
                        </td>
                      </tr>

                      <tr>
                        <td class="whitespace-nowrap px-6 py-4 text-sm font-medium text-neutral-600 dark:text-neutral-400">
                          BARRERA NEW JERSEY DOBLE TIPO F
                        </td>
                        <td>
                          1,4  MTS
                        </td>
                        <td>
                          3,0 MTS
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        )
      :
        (
          <div class="text-pretty text-neutral-600 dark:text-neutral-400">
            {answer}
          </div>
        )
    }
    
  </div>
</div>
