---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import FAQ from "@components/sections/FAQ.astro";
import heroImage from "@images/alborada/BARRERA-TIPO-F-SIMETRICA-600x600-removebg-preview.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import featureImage from "@images/alborada/canaletas-3.jpg";
import construction from "@images/alborada/IMG_2178.jpg";
import tools from "@images/alborada/camara.png";
import dashboard from "@images/alborada/camion-pluma.jpg";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`Profesionales en construcción <span
        class="text-yellow-500 dark:text-yellow-400">Alborada del Valle</span>`
    subTitle="Top-quality hardware tools and expert construction services for every project need."
    primaryBtn="Nuestro Productos"
    primaryBtnURL="/products"
    secondaryBtn="Contáctanos"
    secondaryBtnURL="/contact"
    withReview={false}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="Nuestros Clientes Confían"
    subTitle="Calidad en nuestros productos."
  />

  <FeaturesGeneral
    title="Protección y Seguridad"
    subTitle="Además de nuestras barreras de concreto, contamos con un extenso catálogo de materiales de construcción de primera calidad. Cada producto ha sido seleccionado cuidadosamente para garantizar su durabilidad y eficiencia en cualquier proyecto, desde pequeñas construcciones hasta grandes desarrollos industriales."
    src={featureImage}
    alt="Nuestras barreras de concreto están diseñadas para ofrecer máxima durabilidad y resistencia"
    features={features}
  />

  <FeaturesNavs
    title=`Servicios adicionales de <span class="text-yellow-500 dark:text-yellow-400">Alborada del Valle</span>.`
    tabs={[
      {
        heading: "Extructuras robustas",
        content:
          "Con nuestras estructuras robustas, construye con confianza y seguridad. Diseñadas para resistir el paso del tiempo y las condiciones más adversas, nuestras soluciones garantizan una base sólida y duradera para cualquier tipo de proyecto, desde pequeñas obras hasta grandes desarrollos.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Transporte especializado",
        content:
          "Nuestro transporte especializado está diseñado para manejar cualquier tipo de carga, garantizando la entrega segura y eficiente de tus materiales de construcción. Con nosotros, tus productos siempre estarán en buenas manos, listos para ser utilizados en tu proyecto.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Construcciones a la medida",
        content:
          "Diseñamos y construimos proyectos a la medida para satisfacer tus requerimientos exactos. Nuestra experiencia y atención al detalle nos permiten ofrecer soluciones innovadoras y eficientes, asegurando que cada obra sea un reflejo fiel de tus ideas y necesidades.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <!-- <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  /> -->

  <!-- <PricingSection pricing={pricing} /> -->

  <FAQ title="Preguntas<br />Frecuentes" faqs={faqs} />

  <!-- <HeroSectionAlt
    title="Let's Build Together"
    subTitle="ScrewFast is an open-source template, meticulously crafted with Astro, Tailwind CSS, and Preline UI frameworks."
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->
</MainLayout>
